:root {
  --backgroundprimary: rgba(255, 255, 255, 1);
  --primary: rgba(0, 0, 0, 1);
  --secondary: rgba(114, 114, 114, 1);
  --inverse: rgba(255, 255, 255, 1);
  --border: rgba(221, 221, 221, 1);
  --formbackground: rgba(255, 255, 255, 1);
  --formborder: rgba(148, 148, 148, 1);
  --action: rgba(24, 106, 255, 1);
  --actionprimary: rgba(24, 106, 255, 1);
  --background: rgba(255, 255, 255, 1);
  --disabled: rgba(176, 176, 176, 1);
  --bordersecondary: rgba(238, 238, 238, 1);
  --textsecondary: rgba(114, 114, 114, 1);
  --body-heading-font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif;
  --body-heading-font-weight: 500;
  --body-heading-font-size: 18px;
  --body-heading-letter-spacing: 0px;
  --body-heading-line-height: 24px;
  --body-heading-font-style: normal;
  --input-label-font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif;
  --input-label-font-weight: 500;
  --input-label-font-size: 14px;
  --input-label-letter-spacing: 0px;
  --input-label-line-height: 20px;
  --input-label-font-style: normal;
  --input-string-font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif;
  --input-string-font-weight: 400;
  --input-string-font-size: 16px;
  --input-string-letter-spacing: 0px;
  --input-string-line-height: 20px;
  --input-string-font-style: normal;
  --body-footnote-font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif;
  --body-footnote-font-weight: 400;
  --body-footnote-font-size: 14px;
  --body-footnote-letter-spacing: 0px;
  --body-footnote-line-height: 20px;
  --body-footnote-font-style: normal;
  --button-label-font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif;
  --button-label-font-weight: 500;
  --button-label-font-size: 16px;
  --button-label-letter-spacing: 0px;
  --button-label-line-height: 24px;
  --button-label-font-style: normal;
  --body-xs-medium-font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif;
  --body-xs-medium-font-weight: 500;
  --body-xs-medium-font-size: 14px;
  --body-xs-medium-letter-spacing: 0px;
  --body-xs-medium-line-height: 24px;
  --body-xs-medium-font-style: normal;
}


@font-face {
    font-family: 'Checkout Apercu SemiMono';
    src: url('CheckoutApercuSemiMono-Regular.woff2') format('woff2'),
        url('CheckoutApercuSemiMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
